html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  background-image: url("Background.jpg");
  background-size: cover;
  background-position: center;
  background-color: #ddd;
  background-attachment: fixed;
  font-family: 'Orelega One', cursive;
  font-size: 18px;
}